.checkbox-wrapper {
    color: #465f73;
    flex-direction: column;

    @include for-wide-layout {
        flex-direction: row;
    }

    h6 {
        font-size: 2rem;

        @include for-mobile-layout {
            font-size: 1rem;
        }
    }
}
